<!DOCTYPE html>

<!-- HTML文档的基本结构，其中 xmlns:th="http://www.thymeleaf.org" 表示该页面将使用Thymeleaf的命名空间。 -->
<html xmlns:th="http://www.thymeleaf.org">
<!--使用了 th:replace 属性，用于替换当前位置的 <div> 元素为名为 common_header.html 的Thymeleaf片段（在 common 目录下）-->
<div th:replace="common/common_header.html"></div>

<!--这是HTML页面的主体部分，所有的页面内容都应该放在 <body> 元素中。-->
<body>

     <!--这是一个包含表单的 <form> 元素，其中 th:action 属性指定了表单提交的目标URL，-->
     <!--method 属性指定了HTTP请求的方法（POST），而 th:object 属性指定了表单数据绑定的对象（${form}）。-->
     
	<form th:action="@{/marketcsv/marketcsvlist}" method="POST"
		th:object="${form}">
		
		<!--这一行代码使用了 th:insert 属性，用于插入名为 header 的Thymeleaf片段（在 fragments 目录下），
		并将其内容放置在具有 publicHeader 类名的 <div> 元素中。-->
		<div class="publicHeader" th:insert="~{fragments/header :: header}">...</div>
		<!--时间-->
		<section class="publicTime">
			<span id="time">2015年1月1日 11:11 星期一</span> <a href="#">メッセージ</a>
		</section>
		<!--主体内容-->
		<section class="publicMian">
			<div class="left" th:insert="~{fragments/left :: left}">...</div>
			<div class="right">
				<div class="location">
					<strong>画面情報：</strong> <span>販売店一覧</span> <br />
					<span th:if="${form.errorMessage!=null}" th:text="${form.errorMessage}" style="color: red;"></span>
				</div>
				
                <!-- ■検索条件 -->
				<div class="search row">
	                <div class="class_td_50">
						<label>販売店名：</label>
						<input type="text" name="storeName" th:id="${form.storeName}" th:value="${form.storeName}" placeholder="storeName" /> <!-- 非表示の明細ボタン -->
					</div>
					
					<div class="class_td_50">
						<label>アドレス：</label>
						<input type="text" name="address" th:id="${form.address}" th:value="${form.address}" placeholder="address"/> <!-- 非表示の明細ボタン -->
					
					</div>
	               
	                <div class="class_td_50">
						<input type="submit" id="select" name="selec" value="検索" width="30px;"/>
						<input type="submit" id="addStore" name="addStore" value="新規"  width="30px;" th:style="${form.disabledFlg}"/>
						<input type="submit" id="deleteAll"name="deleteAll" value="全削除"  width="30px;" th:style="${form.disabledFlg}"/>
						<input type="submit" name="read" id="read" style="display: none;" />
						<input type="submit" name="update" id="update" style="display: none;" />
						<input type="submit" name="delete" id="delete" style="display: none;" />
						<input type="hidden" id="deleteStoreIds" name="deleteStoreIds"/>
						
						</div>
	                <div class="class_td_50"></div>
	                
	                
				</div>
				
                <!-- ■検索結果 -->
                <div style="padding-top: 10px;">
					<!--用户-->
					<table class="providerTable" th:if="${form != null}">
						<tr class="firstTr">
							<th width="5%"><input type="checkbox" id="all"></th>
							<th width="10%">marketcsvID</th>
							<th width="10%">名前</th>
							<th width="10%">marketcsvDay</th>
							<th width="5%">性別</th>
							<th width="10%">電話</th>
							
						</tr>
						<tr th:if="${!#lists.isEmpty(form.results)}"
							th:each="data,stat : ${form.results}">
							<td style="text-align: center;">
							    <input type="checkbox" th:id="checkBoxId" th:name="checkBoxId" th:value="${data.employeeId}" />
							</td>
							<td th:text="${data.marketcsvId}"></td>
							<td th:text="${data.marketcsvName}"></td>
							<td th:text="${data.marketcsvDay}"></td>
							<td th:text="${data.marketcsvSex}"></td>
							<td th:text="${data.marketcsvPhone}"></td>
							<td>
							    <img th:src="@{/img/read.png}" alt="参照" title="参照" onclick="clickRead(this);" th:value="${data.employeeId+'_'+data.updateDay}" />
							    <img th:src="@{/img/update.png}" alt="更新" title="更新" onclick="clickUpdate(this)" th:value="${data.employeeId+'_'+data.updateDay}" />
								<img th:src="@{/img/delete.png}" alt="削除" title="削除" onclick="clickDelete(this)" th:value="${data.employeeId+'_'+data.updateDay}" th:style="${form.disabledFlg}" />
							</td>
						</tr>
					</table>
				</div>
				
				
			</div>
		</section>

		<!--削除ボタンを押下後、ポップアップDIV画面が表示される-->
		<div class="zhezhao"></div>
		<div class="remove" id="removeUse">
			<div class="removerChid">
				<h2>提示</h2>
				<div class="removeMain">
					<p>削除したらよろしいでしょうか</p>
					<a href="#" id="yes">削除</a> <a href="#" id="no">キャンセル</a>
				</div>
			</div>
		</div>

	</form>
	<div class="footer" th:insert="~{fragments/footer :: footer}">...</div>

	<!-- 共通Js -->
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/js/js.js}"></script>
	<script type="text/javascript" th:src="@{/js/time.js}"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- 画面Js -->
	<script type="text/javascript" th:src="@{/js/marketcsv/marketcsvlist.js}"></script>

	
</body>
</html>