<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.ogumaproject.ppok.mapper.AuthorityMapper">
	<resultMap id="BasicResultMap"
		type="jp.co.ogumaproject.ppok.entity.Authority" autoMapping="true">
		<id property="id" jdbcType="NUMERIC" column="ID" />
	</resultMap>
	<select id="selectByIds" parameterType="java.util.List"
		resultMap="BasicResultMap">
		SELECT
		    PAV.* 
		FROM
		    PPOG_AUTHORITIES_VIEW PAV 
		WHERE
			PAV.ID IN
			<foreach collection="ids" item="id" index="index"
				open="(" close=")" separator=",">
				#{id,jdbcType=NUMERIC}
			</foreach>
	</select>
	<select id="selectAll" resultMap="BasicResultMap">
		SELECT
		    PAV.* 
		FROM
		    PPOG_AUTHORITIES_VIEW PAV
	</select>
</mapper>