<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.ogumaproject.ppok.mapper.DistrictMapper">
	<resultMap id="BasicResultMap"
		type="jp.co.ogumaproject.ppok.entity.District" autoMapping="true">
		<id property="id" jdbcType="NUMERIC" column="ID" />
		<association property="chiho" javaType="jp.co.ogumaproject.ppok.entity.Chiho">
			<id property="id" jdbcType="NUMERIC" column="CHIHO_ID" />
			<id property="name" jdbcType="NVARCHAR" column="CHIHO_NAME" />
		</association>
		<collection property="cities" ofType="jp.co.ogumaproject.ppok.entity.City" select="subQuery" column="ID" />
	</resultMap>
	<update id="updateById"
		parameterType="jp.co.ogumaproject.ppok.entity.District">
		UPDATE PPOG_DISTRICTS PD 
		<set>
			<if test="name != null">
				PD.NAME = #{name,jdbcType=NVARCHAR},
			</if>
			<if test="shutoId != null">
				PD.SHUTO_ID = #{shutoId,jdbcType=NUMERIC},
			</if>
			<if test="chihoId != null">
				PD.CHIHO_ID = #{chihoId,jdbcType=NUMERIC},
			</if>
		</set>
		WHERE
		    PD.DEL_FLG = #{delFlg,jdbcType=NVARCHAR} 
		    AND PD.ID = #{id,jdbcType=NUMERIC}
	</update>
	<select id="selectById" resultMap="BasicResultMap">
		SELECT
		    PD.ID
		    , PD.NAME
		    , PD.SHUTO_ID
		    , PD.CHIHO_ID
		    , PD.DISTRICT_FLAG
		    , PD.DEL_FLG
		    , PCH.ID AS CHIHO_ID
		    , PCH.NAME AS CHIHO_NAME 
		FROM
		    PPOG_DISTRICTS PD 
		    INNER JOIN PPOG_CHIHOS PCH 
		        ON PCH.ID = PD.CHIHO_ID 
		WHERE
		    PD.DEL_FLG = #{delFlg,jdbcType=NVARCHAR} 
		    AND PD.ID = #{id,jdbcType=NUMERIC}
	</select>
	<select id="selectAll" resultMap="BasicResultMap">
		SELECT
		    PD.ID
		    , PD.NAME
		    , PD.SHUTO_ID
		    , PD.CHIHO_ID
		    , PD.DISTRICT_FLAG
		    , PD.DEL_FLG
		    , PCH.ID AS CHIHO_ID
		    , PCH.NAME AS CHIHO_NAME 
		FROM
		    PPOG_DISTRICTS PD 
		    INNER JOIN PPOG_CHIHOS PCH 
		        ON PCH.ID = PD.CHIHO_ID 
		ORDER BY
		    PD.ID ASC
	</select>
	<select id="paginationByKeyword" resultMap="BasicResultMap">
		SELECT
		    PD.ID
		    , PD.NAME
		    , PD.SHUTO_ID
		    , PD.CHIHO_ID
		    , PD.DISTRICT_FLAG
		    , PD.DEL_FLG
		    , PCH.ID AS CHIHO_ID
		    , PCH.NAME AS CHIHO_NAME 
		FROM
		    PPOG_DISTRICTS PD 
		    INNER JOIN PPOG_CHIHOS PCH 
		        ON PCH.ID = PD.CHIHO_ID 
		    INNER JOIN PPOG_CITIES PC 
		        ON PC.ID = PD.SHUTO_ID 
		WHERE
		    PD.DEL_FLG = #{delFlg,jdbcType=NVARCHAR} 
		    AND ( 
		        PD.NAME LIKE #{keyword,jdbcType=NVARCHAR} 
		        OR PC.NAME LIKE #{keyword,jdbcType=NVARCHAR} 
		        OR PCH.NAME LIKE #{keyword,jdbcType=NVARCHAR}
		    ) 
		ORDER BY
		    PD.ID ASC
		OFFSET #{offset,jdbcType=INTEGER} ROWS 
		FETCH NEXT #{pageSize,jdbcType=INTEGER} ROWS ONLY
	</select>
	<select id="countByKeyword" resultType="java.lang.Long">
		SELECT
		    COUNT(1) 
		FROM
		    PPOG_DISTRICTS PD 
		    INNER JOIN PPOG_CHIHOS PCH 
		        ON PCH.ID = PD.CHIHO_ID 
		    INNER JOIN PPOG_CITIES PC 
		        ON PC.ID = PD.SHUTO_ID 
		WHERE
		    PD.DEL_FLG = #{delFlg,jdbcType=NVARCHAR} 
		    AND ( 
		        PD.NAME LIKE #{keyword,jdbcType=NVARCHAR} 
		        OR PC.NAME LIKE #{keyword,jdbcType=NVARCHAR} 
		        OR PCH.NAME LIKE #{keyword,jdbcType=NVARCHAR}
		    )
	</select>
	<select id="subQuery" resultType="jp.co.ogumaproject.ppok.entity.City">
		SELECT
		    PC.ID
		    , PC.NAME
		    , PC.PRONUNCIATION
		    , PC.DISTRICT_ID
		    , PC.POPULATION
		    , PC.CITY_FLAG
		    , PC.DEL_FLG 
		FROM
		    PPOG_CITIES PC 
		WHERE
			PC.DISTRICT_ID = #{id,jdbcType=NUMERIC}
	</select>
</mapper>