<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sony.ppog.mapper.EmployeeRoleMapper">
	<resultMap id="BasicResultMap"
		type="jp.co.sony.ppog.entity.EmployeeRole" autoMapping="true">
		<id property="employeeId" jdbcType="NUMERIC" column="EMPLOYEE_ID" />
	</resultMap>
	<insert id="insertById"
		parameterType="jp.co.sony.ppog.entity.EmployeeRole">
		INSERT 
		INTO PPOG_EMPLOYEE_ROLE PPER(PPER.EMPLOYEE_ID, PPER.ROLE_ID) 
		VALUES ( 
		    #{employeeId,jdbcType=NUMERIC}
		    , #{roleId,jdbcType=NUMERIC}
		)
	</insert>
	<update id="updateById"
		parameterType="jp.co.sony.ppog.entity.EmployeeRole">
		UPDATE PPOG_EMPLOYEE_ROLE PPER 
		SET
		    PPER.ROLE_ID = #{roleId,jdbcType=NUMERIC} 
		WHERE
		    PPER.EMPLOYEE_ID = #{employeeId,jdbcType=NUMERIC}
	</update>
	<delete id="deleteById" parameterType="java.lang.Long">
		DELETE FROM PPOG_EMPLOYEE_ROLE PPER 
		WHERE
		    PPER.EMPLOYEE_ID = #{id,jdbcType=NUMERIC}
	</delete>
	<select id="selectById" resultMap="BasicResultMap">
		SELECT
		    PERV.* 
		FROM
		    PPOG_EMPLOYEE_ROLE_VIEW PERV 
		WHERE
		    PERV.EMPLOYEE_ID = #{id,jdbcType=NUMERIC}
	</select>
	<select id="selectByRoleId" parameterType="java.lang.Long"
		resultMap="BasicResultMap">
		SELECT
		    PERV.* 
		FROM
		    PPOG_EMPLOYEE_ROLE_VIEW PERV 
		WHERE
		    PERV.ROLE_ID = #{roleId,jdbcType=NUMERIC}
	</select>
</mapper>