<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.ogumaproject.ppok.mapper.EmployeeMapper">
	<resultMap id="BasicResultMap"
		type="jp.co.ogumaproject.ppok.entity.Employee" autoMapping="true">
		<id property="id" jdbcType="NUMERIC" column="ID" />
	</resultMap>
	<insert id="insertById"
		parameterType="jp.co.ogumaproject.ppok.entity.Employee">
		INSERT 
		INTO PPOG_EMPLOYEES PE( 
		    PE.ID
		    , PE.LOGIN_ACCOUNT
		    , PE.PASSWORD
		    , PE.USERNAME
		    , PE.EMAIL
		    , PE.CREATED_TIME
		    , PE.DATE_OF_BIRTH
		    , PE.DEL_FLG
		) 
		VALUES ( 
		    #{id,jdbcType=NUMERIC}
		    , #{loginAccount,jdbcType=NVARCHAR}
		    , #{password,jdbcType=NVARCHAR}
		    , #{username,jdbcType=NVARCHAR}
		    , #{email,jdbcType=NVARCHAR}
		    , #{createdTime,jdbcType=TIMESTAMP}
		    , #{dateOfBirth,jdbcType=TIMESTAMP}
		    , #{delFlg,jdbcType=NVARCHAR}
		)
	</insert>
	<update id="removeById" 
		parameterType="jp.co.ogumaproject.ppok.entity.Employee">
		UPDATE PPOG_EMPLOYEES PE 
		SET
		    PE.DEL_FLG = #{delFlg,jdbcType=NVARCHAR}
		WHERE
		    PE.ID = #{id,jdbcType=NUMERIC}
	</update>
	<update id="updateById"
		parameterType="jp.co.ogumaproject.ppok.entity.Employee">
		UPDATE PPOG_EMPLOYEES PE 
		<set>
			<if test="loginAccount != null">
				PE.LOGIN_ACCOUNT = #{loginAccount,jdbcType=NVARCHAR},
			</if>
			<if test="password != null">
				PE.PASSWORD = #{password,jdbcType=NVARCHAR},
			</if>
			<if test="username != null">
				PE.USERNAME = #{username,jdbcType=NVARCHAR},
			</if>
			<if test="email != null">
				PE.EMAIL = #{email,jdbcType=NVARCHAR},
			</if>
			<if test="dateOfBirth != null">
				PE.DATE_OF_BIRTH = #{dateOfBirth,jdbcType=TIMESTAMP},
			</if>
		</set>
		WHERE
		    PE.DEL_FLG = #{delFlg,jdbcType=NVARCHAR}
		    AND PE.ID = #{id,jdbcType=NUMERIC}
	</update>
	<select id="selectById" resultMap="BasicResultMap">
		SELECT
		    PE.ID
		    , PE.LOGIN_ACCOUNT
		    , PE.PASSWORD
		    , PE.USERNAME
		    , PE.EMAIL
		    , PE.CREATED_TIME
		    , PE.DATE_OF_BIRTH
		    , PE.DEL_FLG
		FROM
		    PPOG_EMPLOYEES PE 
		WHERE
		    PE.DEL_FLG = #{delFlg,jdbcType=NVARCHAR}
		    AND PE.ID = #{id,jdbcType=NUMERIC}
	</select>
	<select id="selectByLoginAcct" resultMap="BasicResultMap">
		SELECT
		    PE.ID
		    , PE.LOGIN_ACCOUNT
		    , PE.PASSWORD
		    , PE.USERNAME
		    , PE.EMAIL
		    , PE.CREATED_TIME
		    , PE.DATE_OF_BIRTH
		    , PE.DEL_FLG 
		FROM
		    PPOG_EMPLOYEES PE 
		WHERE
		    PE.DEL_FLG = #{delFlg,jdbcType=NVARCHAR} 
		    AND ( 
		        PE.LOGIN_ACCOUNT = #{loginAccout,jdbcType=NVARCHAR} 
		        OR PE.EMAIL = #{loginAccout,jdbcType=NVARCHAR}
		    )
	</select>
	<select id="paginationByKeyword" resultMap="BasicResultMap">
		SELECT 
		    PE.ID
		    , PE.LOGIN_ACCOUNT
		    , PE.PASSWORD
		    , PE.USERNAME
		    , PE.EMAIL
		    , PE.CREATED_TIME
		    , PE.DATE_OF_BIRTH
		    , PE.DEL_FLG 
		FROM
		    PPOG_EMPLOYEES PE 
		WHERE
		    PE.DEL_FLG = #{delFlg,jdbcType=NVARCHAR} 
		    AND ( 
		        PE.USERNAME LIKE #{keyword,jdbcType=NVARCHAR} 
		        OR PE.LOGIN_ACCOUNT LIKE #{keyword,jdbcType=NVARCHAR} 
		        OR PE.EMAIL LIKE #{keyword,jdbcType=NVARCHAR}
		    ) 
		ORDER BY
		    PE.ID ASC
		OFFSET #{offset,jdbcType=INTEGER} ROWS 
		FETCH NEXT #{pageSize,jdbcType=INTEGER} ROWS ONLY
	</select>
	<select id="selectByLoginAcctAndEmail" resultMap="BasicResultMap">
		SELECT 
		    PE.ID
		    , PE.LOGIN_ACCOUNT
		    , PE.PASSWORD
		    , PE.USERNAME
		    , PE.EMAIL
		    , PE.CREATED_TIME
		    , PE.DATE_OF_BIRTH
		    , PE.DEL_FLG 
		FROM 
		    PPOG_EMPLOYEES PE 
		WHERE 
		    PE.DEL_FLG = #{delFlg,jdbcType=NVARCHAR} 
		    AND ( 
		        PE.LOGIN_ACCOUNT = #{loginAccount,jdbcType=NVARCHAR} 
		        AND PE.EMAIL = #{email,jdbcType=NVARCHAR} 
		        AND PE.DATE_OF_BIRTH = #{dateOfBirth,jdbcType=TIMESTAMP}
		    )
	</select>
	<select id="countByKeyword" resultType="java.lang.Long">
		SELECT 
		    COUNT(1) 
		FROM 
		    PPOG_EMPLOYEES PE 
		WHERE 
		    PE.DEL_FLG = #{delFlg,jdbcType=NVARCHAR} 
		    AND ( 
		        PE.USERNAME LIKE #{keyword,jdbcType=NVARCHAR} 
		        OR PE.LOGIN_ACCOUNT LIKE #{keyword,jdbcType=NVARCHAR} 
		        OR PE.EMAIL LIKE #{keyword,jdbcType=NVARCHAR}
		    )
	</select>
	<select id="checkDuplicated" resultType="java.lang.Integer">
		SELECT
		    COUNT(1) 
		FROM
		    PPOG_EMPLOYEES PE 
		WHERE
		    PE.DEL_FLG = #{delFlg,jdbcType=NVARCHAR} 
		    AND PE.LOGIN_ACCOUNT = #{loginAccount,jdbcType=NVARCHAR}
	</select>
</mapper>