<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sony.ppog.mapper.RoleAuthMapper">
	<resultMap id="BasicResultMap"
		type="jp.co.sony.ppog.entity.RoleAuth" autoMapping="true">
		<id property="authId" jdbcType="NUMERIC" column="AUTH_ID" />
		<id property="roleId" jdbcType="NUMERIC" column="ROLE_ID" />
	</resultMap>
	<insert id="batchInsertByIds"
		parameterType="java.util.List">
		INSERT 
		INTO PPOG_ROLE_AUTH PPRA(PPRA.AUTH_ID, PPRA.ROLE_ID) 
		VALUES 
		<foreach collection="roleAuths" item="roleAuth" index="index" separator=",">
			( 
			    #{roleAuth.authId,jdbcType=NUMERIC}
			    , #{roleAuth.roleId,jdbcType=NUMERIC}
			)
		</foreach>
	</insert>
	<delete id="batchDeleteByRoleId" 
		parameterType="java.lang.Long">
		DELETE 
		FROM
		    PPOG_ROLE_AUTH PPRA 
		WHERE
		    PPRA.ROLE_ID = #{roleId,jdbcType=NUMERIC}
	</delete>
	<select id="selectByRoleId" resultMap="BasicResultMap">
		SELECT
		    PRAV.* 
		FROM
		    PPOG_ROLE_AUTH_VIEW PRAV 
		WHERE
		    PRAV.ROLE_ID = #{roleId,jdbcType=NUMERIC}
	</select>
</mapper>